@{
}

@model Checkout

<h2>Checkout</h2>
<p>Enter your checkout info</p>
<hr />

<form method="post" asp-controller="Checkout" asp-action="Checkout">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Ship To</h4>
    <div class="form-group">
        <label asp-for="Name" class="form-label">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <br />

    <h4>Address</h4>
    <div class="form-group">
        <label asp-for="AddressLine1" class="form-label">Address Line 1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine2" class="form-label">Address Line 2:</label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine3" class="form-label">Address Line 3:</label>
        <input asp-for="AddressLine3" class="form-control" />
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="City" class="form-label">City:</label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="State" class="form-label">State:</label>
            <input asp-for="State" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ZipCode" class="form-label">ZipCode:</label>
            <input asp-for="ZipCode" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="form-label">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <br />

    <h4>Contact Information</h4>
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="form-label">Phone:</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <br />

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Place Your Order" />
    </div>

</form>