@page
@model Bookstore.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
    <h2>Your order has been completed! Thank you!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>